h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.greeting {
  background: #f9f7fe;
  text-align: center;
  padding: 160px 0;
}

.greeting p {
  font-size: 36px;
  font-weight: bold;
}
.greetin h2 {
  font-family: "Poppins", sans-serif;
}

.btn-branding {
  background: #6c63ff;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
